body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px 0;
}

.div {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.arrayEntrada,
.janela,
.result {
    list-style: none;
    padding-left: 20px;
}

.arrayEntrada li,
.janela li,
.result li {
    margin: 2px ;
    padding: 2px;
    border: solid 1px black;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}